<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Watchlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>
		<div>
			<h2>Welcome to WatchDB</h2>
		</div>
		<div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
			<table class="table table-striped">
				<tr>
		   		 <th>Brand</th>
		   		 <th>Model</th>
		   		 <th>Year</th>
		   		 <th>Material</th>
		   		 <th>Picture</th>
				</tr>  
    			<tr th:each = "watch : ${watches}">
    				<td th:text="${watch.brand}"></td>
    				<td th:text="${watch.model}"></td>
    				<td th:text="${watch.year}"></td>
    				<td th:text="${watch.material}"></td>
    				<td><img th:src="${watch.photosImagePath}" /></td>
    				<td sec:authorize="hasAuthority('ADMIN')"> <a th:href="@{/delete/{id}(id=${watch.id})}"><button class="btn btn-success">Delete</button></a></td>
    				<td sec:authorize="hasAuthority('ADMIN')"> <a th:href="@{/edit/{id}(id=${watch.id})}"><button class="btn btn-primary">Edit</button></a></td> 		
    			</tr>
     		</table>
		
		<a sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/addwatch}"><button class="btn btn-success">Add a new watch</button></a>
	</body>
</html>